.about-link{
    background-image: url(../Asset/pexels-rajat-jain-325200.jpg);
    background-size: cover;
    background-color: rgb(3, 3, 3);
    background-position: 0 0, 10px, 10px;
    color: rgb(248, 244, 244);
    align-content: space-between;
    padding-left: 20rem;
    padding-right: 25rem;
    justify-content: space-around ;
    vertical-align: auto;
    

}
.aboutus1{
  width:300px;
 justify-content: center;
 vertical-align: middle;
//  background-color: red
}

.gorail{
  margin-right: 10px;
  margin-left: 10px;
  color: aliceblue;
  cursor: pointer;
  border: initial;
  border-color: blue;
  border-radius: initial;
}
.content{
    color: beige;
    justify-content: space-evenly;
    text-emphasis-style: initial;

}